
/*CS CURRICULUM in header*/
.webheader {
    color: rgb(227, 214, 227);
    text-align: center;
    font-size: 3em;
    font-weight:bolder;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Raleway;
    font-weight: lighter;
}

/*Navigation Links in header*/
.nav {
    text-align: center;
    font-weight: lighter;
    border-right: 0px;
    padding-top:.75em;
    padding-bottom:1em;
}

.nav li {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 25;
}

.nav a:hover {
    background-color:rgba(255, 255, 255, 0.3);
    background-size:10cm;
}

/*header background image*/
.main-header {
    background-image: url(images/yosemite.png);
    background-color: rgba(89, 145, 90, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    max-height:max-content;
    padding-top: 1.5em;
}