/*format level front pages*/


/*center text*/
div {
    text-align: center;
}

/*table topics*/
table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table, tr, td {
    border-color: white;
}




