/*general styling*/

/*fonts*/
body {
    font-family: 'Montserrat', sans-serif;
}

div {
    padding-left: 2%;
    padding-right: 2%
}

p { 
    font-weight: 300;
}

ul {
    font-weight: 300;
}

h2 {
    font-weight: 500;
}

/*links*/
a { 
    text-decoration: none; 
    color: rgb(167, 88, 206);
    transition: background-color 0.15s;
    padding-left: 2px;
    padding-right: 2px;
}


a:hover { 
    background-color:rgba(255, 225, 0, 0.3);
}



