/*format get started page*/

/*inline curriculum layout and table*/
.levels, table {
    display: inline-block;
}

/*level description*/
.level-description {
    float: left;
    padding: 0;
}

.levels  {
    width: 55%;
    vertical-align: top;
    padding: 0;
    padding-top:20px;
    padding-bottom: 40px;
}

/*table style*/
table {
    margin-top: 30px;
    margin-right: 30px;
    border-collapse: collapse;
    font-weight: 300;
    font-size: 0.9em;
    float: right;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/*color header row*/
table tr th {
     background-color: rgb(199, 204, 229);
}

/*color data rows*/
table tr td {
    background-color: rgb(242, 242, 242);
    border-bottom: 1px solid rgb(218, 213, 213);
}

/*bottom border*/
table tr:last-of-type {
    border-bottom: 3px solid rgb(199, 204, 229);
}

/*pad all cells*/
table tr th, table tr td {
    padding: 10px;
}

/*remove default formating of lists*/
table td ul {
    list-style: none;
    padding-left: 0;
}

table td ol {
    list-style: decimal;
    padding-left: 15px;
}

/*format images and materials section*/

.images, .materials {
    display: inline-block;
    vertical-align: middle;
    padding-top: 1%;
}

.materials {
    width: 50%;
    padding-right: 0;
    padding-bottom: 0;
}

.p1 {
    width: max-content;
}

.ul1 {
    width: max-content;
}

/*format bottom text and image*/

.bottom-text, .kid-img {
    display: inline-block;
    vertical-align: middle;
}

.bottom-text {
    padding: 0;
    width: 60%;
}

.kid-img {
    width: 35%;
    float: right;
    margin-top: 6%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}