/*format images inlign*/

.row {
  display: flex;
  text-align: center;
  flex-direction: row;
}
  
.column {
  display: flex;
  flex: 3;
  padding: 0;
  position: relative;
  justify-content: center;
}
  
.column:hover .img {
  opacity: 0.3;
}

.column:hover .text {
  visibility: visible;
  opacity: 1;
}

.text {
  position: absolute;
  text-shadow: 0 0 4px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 30px;
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  top: 45%;
  transition: opacity .2s, visibility .2s;
}

.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
  