/*format slide decks*/

/*align lesson headers in center*/
#lesson-header{
    text-align: center;
}

/*align slide decks in center*/
#slide {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0px auto;
    max-width: 942px;
}

/*align slide download button in center*/
.slide-copy {
    text-align: center;
}