/*format slide decks*/

/*align lesson headers in center*/
#lesson-header{
    text-align: center;
    margin-top: 0;
}

/*align slide decks in center*/
#slide {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0px auto;
    max-width: 942px;
}

/*align slide download button in center*/
.slide-copy {
    text-align: center;
}

.slide-copy a:hover {
    background-color: transparent;
}

.slide-copy-button {
    border: none;
    transition: box-shadow 0.15s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    height: 20px;
}

.slide-copy-button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px lightgrey;
}