/*open-sidebar button*/
.open-sidebar {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    transition: box-shadow 0.15s;
    font-family: 'Montserrat', sans-serif;
}
.open-sidebar:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px lightgrey;
}

/*close-sidebar is an anchor flexbox*/
#close-sidebar {
    display: flex;
    justify-content: center;
}

#close-sidebar:hover {
    background-color: red;
}

#sidebar-container {
    position: relative;
    background-color:lightblue;
    height: 0;
    padding: 0;
    margin: 0;
    width: 0;
}

#mySidebar {
    position: absolute;
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-link {
    background-color: lightpink;
    width: 150px;
    /*border: 1px solid red;*/
    z-index: 100;
    padding: none;
    margin: none;
    font-family: 'Montserrat', sans-serif;
}

.side-link a {
    text-decoration: none;
    padding: 14px 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: background-color 0.10s;
}

.side-link a:hover {
    cursor: pointer;
    background-color: lightblue;
}